{
  "extends": ["eslint-config-ali/typescript/vue", "prettier", "./.eslintrc-auto-import.json"],
  "overrides": [
    {
      "files": ["src/**/*.vue"],
      "rules": {
        "@typescript-eslint/no-unused-vars": 0
      }
    }
  ]
}
